/* Edición del body */
body {
    margin: 0;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
}

.h-100 {
    height: 100% !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Aquí cambiamos la barra navegación */

.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
    display:inline-block;
    width:100%;
    list-style:none;
    -webkit-border-radius:10px;
    color: rgb(255, 255, 255);
}
.navbar-nav li:hover > a {
    background:#FFC107 ;
    color:#000;
    border-top:1px solid #f8f8f8;
    box-shadow:0 2px 2px rgba(0,0,0, .7); 
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
.navbar-nav ul li:hover a, .navbar-nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
.navbar-nav ul li a:hover {
    background:#FFC107;
    color:#fff;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}




.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a,
footer {
    color: #F9A220;
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: #09C586;
    border-color: #09C586;
}
.dropdown-item{
    border-top:1px solid #f8f8f8;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.7); 
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(0, 0, 0, 0.7);
    text-decoration:none;
    background-color: #09C586;
    border:none;
    color:rgb(255, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dropdown-item:hover {
    background:#FFC107 ;
    color:#000;
    border-top:1px solid #f8f8f8;
    box-shadow:0 2px 2px rgba(0,0,0, .7); 
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
 ul li a:hover {
    color:#fff;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(255, 255, 255, 0.7);
}
.navbarSupportedContentul li:first-child {
	border-left: none;
	-webkit-border-radius: 100px 0 0 100px;
	-moz-border-radius: 100px 0 0 100px;
	border-radius: 100px 0 0 100px;
}
navbar-nav
.navbar-expand-md .navbar-toggler {
    display: none;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button,select {
    text-transform: none;
}

button,input {
    overflow: visible;
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.footer {
    background-color: #09C586 !important;
    text-align: -webkit-center;
    color: #F4F5F6 !important;
}

a:hover {
    color:#09C586 ;
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block;
}

/* Sección de imagenes */
.item-category-area .single-cat-item .thumb img {
    border-radius: 90px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.item-category-area .single-cat-item {
    text-align: center;
}

.item-category-area {
    background: #f9f9ff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center !important;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
div {
    display: block;
}
.btn-primary {
    color: #fff;
    background-color: #3253AF;
    border-color: #3253AF;
}
.btn-primary:hover{
    color: #09C586;
    background-color: #3253AF
}
.text-center {
    text-align: center !important;
}

.pb-10 {
    padding-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #F9A220;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.fot {
    color: #E8EAEC !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}


:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.item-category-area p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.alert-success {
    color: crimson;
}

.card-check {
    min-width: 768px;
}

.bg-light {
    background-color: #09C586 !important;

}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: 1px solid; 
    border-radius: 1px;
    border-color: #FFC107;
    outline: none; 
    cursor: pointer; 
    padding: 25px; 
    border-radius: 10px; 
    font-size: 18px; 
    background: no-repeat;
    background-image: url(arriba.png);
    background-position: center ;
    background-color: #FFC107;
 }
 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: none;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color:none;
    border: 1px solid #09C586;
    border-radius: 20px;
 }
 .dropdown-menu.show {
    display: block;
    background-color: transparent;
    border: none;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #FFC107;
    border-color: #007bff;
    background: no-repeat;
    background-image: url(arriba.png);
    background-position: center ;
    opacity: 0.6;
}
.myBtn:hover{
background-color: #FFC107!important;
color: #FFC107!important;
}

/* Img .modal */


/* Style the Image Used to Trigger the Modal */

#myImg,
#myImg2,
#myImg3,
#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover,
#myImg2:hover,
#myImg3:hover,
#myImg4:hover {
    opacity: 0.7;
}

/* / * El modal (fondo) * / */
.modal {
display: none;
/*      / * Oculto por defecto * / */
position: fixed;
/*      / * Permanecer en el lugar * /
     / * Siéntate encima * / */
padding-top: 100px;
    /* Ubicación de la caja */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    overflow: auto;
    /* Habilitar desplazamiento si es necesario */
    background-color: rgb(0, 0, 0);
    /* Color de retroceso*/
    background-color: rgba(0, 0, 0, 0.9);
    /*Negro con opacidad*/
}

/* Contenido modal (imagen) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Título de la imagen modal (texto de imagen): el mismo ancho que la imagen */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Añadir animación - Zoom en el modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*  El botón de cerrar */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% de ancho de imagen en pantallas más pequeñas */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
#contenedor ul li:first-child {
	border-left: none;
	-webkit-border-radius: 100px 0 0 100px;
	-moz-border-radius: 100px 0 0 100px;
	border-radius: 100px 0 0 100px;
}
#contenedor ul li:last-child {
	border-right: none;
	-webkit-border-radius: 0 100px 100px 0;
	-moz-border-radius: 0 100px 100px 0;
	border-radius: 0 100px 100px 0;
}

/* Aquí Dejo un :first-child que se encarga de poner a los hijos segun su color */
/*
#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; 
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;

}
 <p class="mail"><a href="mailto:brandonkovenan@gmail.com">Haz click aquí</a></p>

#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*un poco de css3
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}*/